<div class="chess-clock">
  <main>
    <div class="container-fluid">
      <div class="player pt-2 row">
        <div
          class="player-time left-player-time col-lg-5 col-xs-11"
          (click)="player1Click()"
        >
          <span>{{ player1Time | date: "mm:ss.S":"+0000" }}</span>
        </div>
        <div
          class="player-time right-player-time col-lg-5 col-xs-11"
          (click)="player2Click()"
        >
          <span>{{ player2Time | date: "mm:ss.S":"+0000" }}</span>
        </div>
      </div>
    </div>

    <div class="timer-buttons">
      <button class="start-bttn bttn" type="button" (click)="pauseTimer()">
        PAUSE
      </button>
      <button class="reset-bttn bttn" type="button" (click)="resetBoth()">
        RESET
      </button>
    </div>
  </main>
  <footer>
    <p>
      Press spacebar or click on timer after a move to switch player's clock.
      <span class="material-icons" (click)="openSettings()"> settings </span>
    </p>
  </footer>
</div>
